<%= search_form_for @search do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.search_field :name_or_location_or_national_cont, class: "form-control form-control-lg mr-3", placeholder: t(".where_are_you_going"), required: true %>
    </div>
    <div class="col-md-3">
      <%= f.search_field :location_type_name_cont %>
    </div>

    <div class="row">
      <div class="col-md-8">
        <label><%= t ".price_range"%></label>
        <div id="slider-range"></div>
      </div>
      <div class="col-md-2">
        <label><%= t ".min_price"%></label>
        <%= f.text_field :rooms_price_gteq, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <label><%= t ".max_price"%></label>
        <%= f.text_field :rooms_price_lteq, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label><%= t ".occupancy_limits"%></label>
          <%= f.select :rooms_occupancy_limit_gteq, Settings.static_pages.search_home.occupancy_limit, prompt: "Select...", class: "form-control" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label><%= t ".livingrooms"%></label>
          <%= f.select :rooms_living_room_gteq, Settings.static_pages.search_home.living_room, prompt: "Select...", class: "form-control" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label><%= t ".bedrooms"%></label>
          <%= f.select :rooms_bed_room_gteq, Settings.static_pages.search_home.bed_room, prompt: "Select...", class: "form-control" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label><%= t ".bathrooms"%></label>
          <%= f.select :rooms_bath_room_gteq, Settings.static_pages.search_home.bath_room, prompt: "Select...", class: "form-control" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label><%= t ".star_rating"%></label>
          <%= f.select :total_rate_gteq, Settings.static_pages.search_home.total_rate, prompt: "Select...", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <%= button_tag t(".search"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
