<br>
<div class="row d-flex justify-content-center">
  <div class="col-7 ">
    <%= render "static_pages/search_home", path: search_home_locations_path, fields: Settings.search_fields.location_home %>
  </div>
</div>
<br>

<div class="text-center">
  <h2><%= t ".just_for_the_weekend" %></h2>
  <p><%= t ".discover_new_inspiring_places_close_to_home." %></p>
</div>

<br>

<div class="row ">
  <div class="col-md-4 col-sm-12">
    <a href="/search?utf8=%E2%9C%93&search=new+york">
      <div class="discovery-card" style="background-image: url('/assets/New_York.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong><%= t ".new_york" %></strong></h2>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 col-sm-6">
    <a href="/search?utf8=%E2%9C%93&search=london">
      <div class="discovery-card" style="background-image: url('/assets/London.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong><%= t ".london" %></strong></h2>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 col-sm-6">
    <a href="/search?utf8=%E2%9C%93&search=berlin">
      <div class="discovery-card" style="background-image: url('/assets/Berlin.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong><%= t ".berlin" %></strong></h2>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<br>

<div class="text-center">
  <h2><%= t ".whatever_accommodations" %></h2>
</div>

<br>

<div class="text-center">
  <h2><%= t ".explore_the_world" %></h2>
  <p><%= t ".see_what_peopel" %></p>
</div>

<br>

<div class="row d-flex justify-content-center mb-4">
  <%= render "static_pages/location" %>
</div>
