<%= provide :title, @location_type.name %>

<div class="row">
  <div class="col-12 card">
    <div class="card-body">
      <address>
        <p class="font-weight-bold"><%= @location_type.name %>
        <p><%= t ".created_at" %>: <%= l @location_type.created_at, format: :full %></p>
        <p><%= t ".updated_at" %>: <%= l @location_type.updated_at, format: :full %></p>
      </address>
      <%= link_to t(".edit_but"), edit_admin_location_type_path(@location_type), class: "btn btn-primary btn-sm float-right" %>
    </div>
  </div>
</div>
