<%= form_for [@location, @reservation], url: location_reservations_path(params.permit(q: {})) do |f| %>
  <%= render "shared/error_messages", object: f.object  %>
  <%= render "shared/error_messages", object: @reservation_detail  %>
  <table class="table">
    <thead>
      <tr>
        <th class="w-50"><%= t ".room_name" %></th>
        <th ><%= t ".occupancy_limit" %></th>
        <th ><%= t ".price_for" %><%= day_between params[:q][:have_rooms_fit_with][:range] %><%= t ".night" %></th>
        <th><%= t ".select_rooms" %></th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
        <td><%= link_to room.name, location_room_path(@location, room) %></td>
        <td><%= room.occupancy_limit %></td>
        <td><%= humanized_money_with_symbol(room.price_for params[:q][:have_rooms_fit_with][:range]) %></td>
        <td class="default-select" id="default-select">
          <%= select_tag "room[#{room.id}]",
            raw(room.book_select params[:q][:have_rooms_fit_with][:range]),
            data: {price: humanized_money_with_symbol(room.price_for params[:q][:have_rooms_fit_with][:range])},class: "rooms-select" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-between typography">
    <%= f.submit t(".book_submit"), class: "genric-btn primary", id: "book-button" %>
    <h2 id="bills"></h2>
  </div>
<% end %>
