<%= provide :title, t(".reservations") %>
<div class="row">
  <div class="col-md-12 ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= t ".reservations" %></h4>

        <table class="table">
          <thead>
            <tr>
              <th><%= t ".id" %></th>
              <th><%= t ".user" %></th>
              <th><%= t ".total_bill" %></th>
              <th><%= t ".status" %></th>
              <th><%= t ".create_at" %></th>
              <th><%= t ".update_at" %></th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%= render @reservations %>
          </tbody>
        </table>
        <%= paginate @reservations %>
      </div>
    </div>
  </div>
</div>
