<% if @location.reviews.count == 0 %>
  <div class="text-center"><h4><%= t ".there_is_no_review" %></h4></div>
<% else %>
  <% @location.reviews.order("id desc").each do |r| %>
    <hr>
    <div class="row">
      <div class="col-md-11">
        <div>
          <strong><%= r.user.name %> <div id="stars_<%= r.id %>">
          </div>
          </strong>
        </div>
        <div><%= l r.created_at, format: :full %></div>
        <div><%= r.comment %></div>
      </div>
    </div>
  <% end %>
<% end %>
