<div class="col-lg-4">
  <div class="single-destinations">
    <div class="thumb">
      <%= image_tag location.pictures[Settings.static_pages.number_of_pictures].url if
      location.pictures.length > Settings.static_pages.number_of_pictures %>
    </div>
    <div class="details">
      <h4 class="d-flex justify-content-between">
        <span><%= location.name %></span>
        <span><%= location.total_rate %></span>
      </h4>
      <p>
        <%= t ".view_on_map" %>  |   <%= location.reviews.size %> <%= t ".reviews" %>
      </p>
      <%= link_to t(".view"), location_path(location), class: "price-btn" %>
    </div>
  </div>
</div>
