<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-sm-12 col-12 header-top-right">
          <div class="header-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
          <a href="index.html"><%= image_tag "admin/logo.png", alt: t(".alt_logo") %></a>
        </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li><%= link_to t(".home"), "#" %></li>
            <li><%= link_to t(".accommodations"), "#" %></li>
            <% if user_signed_in? %>
              <li><%= link_to t(".host"), manager_root_path %></li>
              <li class="menu-has-children"><%= link_to t(".account"), "#" %>
                  <li><%= link_to t(".profile"), "#" %></li>
                  <li><%= link_to t(".change_pass"), edit_user_registration_path %></li>
                  <li><%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to t(".log_in"), new_user_session_path %></li>
              <li><%= link_to t(".sign_up"), new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
    </div>
  </div>
</header>
