<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/meta" %>
    <title><%= full_title yield(:title) %></title>
    <%= render "layouts/js" %>
    <%= render "layouts/style" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/banner" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= render "layouts/alert" %>
  </body>
</html>
